.film-container {
  position: relative;
  display: inline-block;
}
.film-poster {
  width: 200px;
  height: 300px;
  outline: 3px solid transparent;
  border-radius: 8px;
  transition: outline-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.film-container:hover .film-poster {
  outline-color: var(--tropical-indigo);
  transform: scale(1.05);
}

.film-menu {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  min-width: 80px;
  z-index: 1000;
}

.film-container:hover .film-menu {
  opacity: 1;
}

.film-menu button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
}

.film-menu button:hover {
  color: #ebebeb;
  transform: scale(1.2);
}
.film-menu button.liked {
  color: var(--citron);
}

.film-menu button.watched {
  color: var(--carolina-blue);
}

.more-tooltip {
  position: relative;
  display: inline-block;
}

.more-tooltip .tooltip-content {
  visibility: hidden;
  width: 120px;
  background-color: var(--charcoal);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1001;
  top: 50%; /* Centra verticalmente el tooltip respecto al botón */
  left: 110%;
  transform: translateY(-50%); /* Ajuste fino para centrar */
}

.more-tooltip .tooltip-content::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%; /* Coloca la flecha a la izquierda del tooltip */
  transform: translateY(-50%); /* Centra verticalmente la flecha */
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--charcoal) transparent transparent;
}

.more-tooltip:hover .tooltip-content {
  visibility: visible;
}


.tooltip-list{
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.tooltip-list li{
  padding: 5px;
  cursor: pointer;
  border-bottom: #ebebeb 1px solid;
}
.tooltip-list li:last-child {
  border-bottom: none;
}

.tooltip-list li:hover{
  background-color: var(--tropical-indigo);
}
.tooltip-list li:last-child:hover{
  background-color: var(--eminence);
}
