*,
*::before,
*::after {
  box-sizing: border-box;
}
.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: var(--rich-black);
  padding: 2rem;
  color: var(--anti-flash-white);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: var(--cadet-gray);
  margin-bottom: 4px;
}

.input-group input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem; /* Match button's padding (previously 0.75rem 1rem) */
  border: 1px solid var(--charcoal);
  border-radius: 0.375rem;
  background-color: var(--rich-black);
  color: var(--anti-flash-white);
  font-weight: 600;
  outline: 0;
}

.input-group input:focus {
  border-color: var(--tropical-indigo);
}

.submit-film {
  margin-top: 20px;
  display: block;
  width: 100%;
  background-color: var(--tropical-indigo);
  padding: 0.75rem;
  text-align: center;
  color: var(--rich-black);
  border-radius: 0.375rem;
  font-weight: 600;
}

.submit-film:hover {
  background-color: rgba(
    167,
    139,
    250,
    0.9
  ); /* Versión ligeramente más clara/transparente */
  transform: translateY(-1px); /* Efecto de elevación sutil */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
}

.submit-film {
  transition: background-color 0.2s ease, transform 0.2s ease,
    box-shadow 1s ease;
  cursor: pointer; /* Cambia el cursor a mano */
}

.submit-film:disabled {
  background-color: var(--charcoal); /* Color de fondo apagado */
  color: var(--cadet-gray); /* Color de texto grisáceo */
  cursor: not-allowed; /* Cursor de prohibido */
  opacity: 0.7; /* Ligera transparencia */
}
