body {
  background-color: var(--brunswick-green);
}

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #193e36ff, #90c2ddff, #d49e32ff, #c299b7ff, #c29b70ff, #784185ff);
$gradient-right: linear-gradient(90deg, #193e36ff, #90c2ddff, #d49e32ff, #c299b7ff, #c29b70ff, #784185ff);
$gradient-bottom: linear-gradient(180deg, #193e36ff, #90c2ddff, #d49e32ff, #c299b7ff, #c29b70ff, #784185ff);
$gradient-left: linear-gradient(270deg, #193e36ff, #90c2ddff, #d49e32ff, #c299b7ff, #c29b70ff, #784185ff);
$gradient-top-right: linear-gradient(45deg, #193e36ff, #90c2ddff, #d49e32ff, #c299b7ff, #c29b70ff, #784185ff);
$gradient-bottom-right: linear-gradient(135deg, #193e36ff, #90c2ddff, #d49e32ff, #c299b7ff, #c29b70ff, #784185ff);
$gradient-top-left: linear-gradient(225deg, #193e36ff, #90c2ddff, #d49e32ff, #c299b7ff, #c29b70ff, #784185ff);
$gradient-bottom-left: linear-gradient(315deg, #193e36ff, #90c2ddff, #d49e32ff, #c299b7ff, #c29b70ff, #784185ff);
$gradient-radial: radial-gradient(#193e36ff, #90c2ddff, #d49e32ff, #c299b7ff, #c29b70ff, #784185ff); */

:root {
  --page-max-width: 100%;
  --page-side-margin: 2rem;
  --page-side-margin-mobile: 1rem;
  --brunswick-green: #193e36ff;
  --eminence: #784185ff;
  --carolina-blue: #63a9cfff;
  --goldenrod: #d49e32ff;
  --lion: #c29b70ff;
  --lilac: #c299b7ff;
  --rich-black: #111827ff;
  --anti-flash-white: #f3f4f6ff;
  --cadet-gray: #9ca3afff;
  --charcoal: #374151ff;
  --tropical-indigo: #a78bfaff;
  --citron: #cfd186ff;
}

.page-layout {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--page-side-margin);
  max-width: var(--page-max-width);
}

@media (max-width: 768px) {
  .page-layout {
    padding: 0 var(--page-side-margin-mobile);
  }
}
